 <p>forgetpassword works!</p>
<div *ngIf="this.message!=null" style="color:white;background-color:red;border-radius:25px;text-align:center;padding:20px;">{{ this.message }}</div>
<form #myForm='ngForm' (ngSubmit)="postData(myForm)">

            <input class="form-control" type="email" #email="ngModel" name="email" [(ngModel)]="userData.email"
                placeholder="Enter email: " required minlength="4">
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="email?.errors?.['required']">Email is required. </div>
                <div *ngIf="email?.errors?.['minlength']">Email must be greater than < 3. </div>
                </div>
                <br><br><br>
                    <button type="submit" name="submit" [disabled]="myForm.invalid">submit</button>
</form>
