<!-- <p>header works!</p> -->
<div *ngIf="isUser">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <!-- <ng-toast></ng-toast> -->
    <a class="navbar-brand" (click)="redirectUser('')"><img src="../favicon.ico"></a>
    <!-- <a class="navbar-brand" (click)="redirectUser('')">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="this.message!=null"
      style="color:lightgreen;background-color:rgb(0, 224, 0);border-radius:25px;text-align:center;padding:20px;">
      {{ this.message }}
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="redirectUser('')">Home <span class="sr-only">(current)</span></a>
        </li>
        <li [hidden]="this.userRole===null" class="nav-item">
          <a class="nav-link" (click)="redirectUser('cartSystem/product')">product</a>
        </li>

        <li [hidden]="this.userRole===null||this.userRole!=='user'" class="nav-item">
          <a class="nav-link" (click)="redirectUser('cartSystem/cart')">cart
            <sup>
              <span class="badge" [hidden]="this.responseCountCart[0]?.total===null">
                {{this.responseCountCart[0]?.total}}
              </span>
              <span class="non" [hidden]="this.responseCountCart[0]?.total!==null">0</span>

            </sup>
          </a>
        </li>

        <li [hidden]="this.userRole===null" class="nav-item">
          <a class="nav-link" (click)="redirectUser('cartSystem/bill')">Bill
            <sup>
              <span class="badge" [hidden]="this.responseCountBill[0]?.total===null">
                {{ this.responseCountBill[0]?.total }}
              </span>
              <span class="non" [hidden]="this.responseCountBill[0]?.total!==null">0</span>
            </sup>
          </a>
        </li>


        <li [hidden]="this.userRole===null||this.userRole==='admin'" class="nav-item">
          <a class="nav-link" (click)="redirectUser('cartSystem/checkout')">checkout
            <sup>
              <span class="badge" [hidden]="this.responseCountCheckout[0]?.total===null">
                {{this.responseCountCheckout[0]?.total}}
              </span>
              <span class="non" [hidden]="this.responseCountCheckout[0]?.total!==null">0</span>
            </sup>
          </a>
        </li>

        <li [hidden]="this.userRole===null" class="nav-item">
          <a class="nav-link" (click)="redirectUser('cartSystem/category')">Category</a>
        </li>
        <li *ngIf="this.user===0" class="nav-item">
          <a class="nav-link" (click)="redirectUser('user/login')">login</a>
        </li>
        <li *ngIf="this.user===0" class="nav-item">
          <a class="nav-link" (click)="redirectUser('user/signup')">signup</a>
        </li>
        <li *ngIf="this.isUserAdmin!==0" class="nav-item">
          <a class="nav-link" (click)="redirectUser('admin/dashboard')">adminPage</a>
        </li>
        <li [hidden]="this.userRole===null" class="nav-item">
          <a class="nav-link" (click)="redirectUser('user/message')">messager</a>
        </li>
      </ul>

      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
          <li *ngIf="this.user!==0" class="nav-item">
            <a class="nav-link" (click)="logoutUser()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

